In [4]:
import mysql.connector

In [5]:
import pandas as pd

In [6]:
database_config = {
    'user': 'tournament_user',
    'password': 'tournament_pass',
    'host': 'localhost',
    'database': 'football'
}

In [7]:
select_clubs = """
SELECT clubs.name, clubs.country, clubs.class, 
international_confederations.name, international_confederations.continent,
national_confederations.name
FROM clubs
INNER JOIN international_confederations
INNER JOIN national_confederations
    ON international_confederations.id = clubs.id_international_confederation
    AND national_confederations.id = clubs.id_national_confederation;
"""

In [13]:
conn = mysql.connector.connect(**database_config)
cursor = conn.cursor()

In [14]:
cursor.execute(select_clubs)
clubs = cursor.fetchall()

In [15]:
columns = ['club name','country','class','international confederation','continent','national confederation']

In [16]:
df = pd.DataFrame(clubs, columns=columns, index=None)

In [17]:
df

,club name,country,class,international confederation,continent,national confederation
0,Argentinos Juniors,Argentina,F,CONMEBOL,South America,AFA
1,Arsenal,Argentina,C,CONMEBOL,South America,AFA
2,Atlético Tucumán,Argentina,D,CONMEBOL,South America,AFA
3,Banfield,Argentina,C,CONMEBOL,South America,AFA
4,Barracas Central,Argentina,E,CONMEBOL,South America,AFA
...,...,...,...,...,...,...
112,Libertad,Ecuador,E,CONMEBOL,South America,FEF
113,Mushuc Runa,Ecuador,B,CONMEBOL,South America,FEF
114,Orense,Ecuador,F,CONMEBOL,South America,FEF
115,Técnico Universitario,Ecuador,A,CONMEBOL,South America,FEF
116,Universidad Católica,Ecuador,B,CONMEBOL,South America,FEF

In [21]:
df['country'].unique()

array(['Brazil', 'Argentina'], dtype=object)

In [18]:
df['national confederation']

0      AFA
1      AFA
2      AFA
3      AFA
4      AFA
      ...
112    FEF
113    FEF
114    FEF
115    FEF
116    FEF
Name: national confederation, Length: 117, dtype: object

In [20]:
df['national confederation'].value_counts()

national confederation
AFA    28
CBF    20
FCF    20
FBF    17
FFC    16
FEF    16
Name: count, dtype: int64