In [1]:
import mysql.connector

In [2]:
import pandas as pd

In [3]:
database_config = {
    'user': 'tournament_user',
    'password': 'tournament_pass',
    'host': 'localhost',
    'database': 'football'
}

In [5]:
select_players = "SELECT * FROM players;"

In [6]:
conn = mysql.connector.connect(**database_config)
cursor = conn.cursor()

In [7]:
cursor.execute(select_players)
players = cursor.fetchall()

In [9]:
columns = ['player_id','name','country','birth year','position','height','weight','foot','retired']

In [10]:
df = pd.DataFrame(players,columns=columns)

In [11]:
df

,player_id,name,country,birth year,position,height,weight,foot,retired
0,1,Juca Dias,Brazil,1990,GK,1.93,74.88,Left,None
1,2,Leonardo Grilo,Brazil,1990,RB,1.92,82.43,Left,None
2,3,Nataniel Rios,Brazil,2004,GK,1.96,76.38,Right,None
3,4,Darley Bartolo,Brazil,1991,SS,1.83,80.29,Right,None
4,5,Lorenzo Grilo,Brazil,1991,WG,1.90,79.77,Right,None
...,...,...,...,...,...,...,...,...,...
599995,599996,Teófilo Llamas,Argentina,2005,RM,1.57,77.12,Left,None
599996,599997,Héctor Ibanez,Mexico,1997,SS,1.69,68.96,Left,None
599997,599998,Didiér Maduro,Uruguay,1999,SS,1.69,77.21,Right,None
599998,599999,Aldo Colin,Argentina,1990,CM,1.89,77.23,Left,None
599999,600000,Omar Carrillo,Uruguay,1994,AM,1.75,67.21,Right,None

In [12]:
df['country']

0            Brazil
1            Brazil
2            Brazil
3            Brazil
4            Brazil
            ...
599995    Argentina
599996       Mexico
599997      Uruguay
599998    Argentina
599999      Uruguay
Name: country, Length: 600000, dtype: object

In [13]:
df['country'].unique()

array(['Brazil', 'Germany', 'England', 'Walles', 'United States',
       'Colombia', 'Mexico', 'Chile', 'Uruguay', 'Spain', 'Paraguay',
       'Argentina'], dtype=object)

In [15]:
df['country'].value_counts()

country
Brazil           200000
Germany           50308
United States     49919
England           49892
Walles            49881
Argentina         28894
Mexico            28689
Paraguay          28641
Uruguay           28603
Chile             28481
Spain             28425
Colombia          28267
Name: count, dtype: int64

In [19]:
df['birth year'].value_counts()

birth year
1996    33653
1995    33503
1992    33490
1993    33467
2002    33465
1997    33462
2000    33427
1991    33408
1994    33356
1990    33336
2003    33296
1999    33269
2005    33265
1989    33179
2004    33177
2006    33124
2001    33098
1998    33025
Name: count, dtype: int64

In [20]:
df['foot'].value_counts()

foot
Left     300034
Right    299966
Name: count, dtype: int64

In [21]:
df['position'].value_counts()

position
CM    50415
GK    50339
CF    50286
LB    50058
AM    50007
DM    50003
RM    49969
LM    49948
CB    49896
SS    49889
RB    49661
WG    49529
Name: count, dtype: int64